<div class="container ex-kuma">
    <header>
        <div>
            <a href="/" class="title">EX-KUMA</a>
        </div>
        <nav>
            <a href="#exkuma-about">ABOUT</a>
            <a href="#exkuma-unsettled">UNSETTLED</a>
            <a href="#exkuma-workshop">WORKSHOP</a>
            <a href="#exkuma-news">NEWS</a>
            <button href="#" class="lang-button ex-kuma">EN</button>
        </nav>
    </header>

    <section>
        <div class="about-container" id="exkuma-about">
            {{ $about := site.GetPage "/exkuma-about" }}

            <div>
                <img src="{{ $about.Params.ko.image }}" alt="" />
            </div>

            <br />

            <div>
                <div data-lang="ko">
                    {{ $about.Params.ko.description | markdownify }}
                </div>

                <div data-lang="en">
                    {{ $about.Params.en.description | markdownify }}
                </div>
            </div>
        </div>
        <div class="unsettled-container" id="exkuma-unsettled">
            <ul>
                {{ range where site.RegularPages "Section" "exkuma-news" }}
                <li>
                    <span>News</span>
                    <div class="title">
                        <a
                            href="{{ .Params.link }}"
                            onclick="
                                let w = window.innerWidth * 0.5;
                                let h = window.innerHeight * 0.8;
                                window.open(
                                    this.href,
                                    'pdfwindow',
                                    `width=${w},height=${h}`,
                                );
                                return false;
                            "
                        >
                            {{ .Params.title }}
                        </a>
                    </div>
                </li>
                {{ end }}
            </ul>
        </div>
        <div class="logos-container">
            <img class="logo" src="assets/ofm.png" alt="OFM" />
            <img class="logo" src="assets/boisbuchet.png" alt="Boisbuchet" />
        </div>
        <img class="full" src="assets/exkuma02.jpg" alt="EX-KUMA" />
    </section>
</div>
