<div class="container kuma">
    <header>
        <nav>
            <a href="#kuma-about">ABOUT</a>
            <a href="#kuma-exhibition">EXHIBITION</a>
            <a href="#kuma-resource">RESOURCE</a>
            <a href="#kuma-news">NEWS</a>
            <button class="lang-button kuma" type="button">EN</button>
        </nav>
        <div>
            <a href="/" class="title">KUMA</a>
        </div>
    </header>

    <section>
        <div class="about-container" id="kuma-about">
            {{ $about := site.GetPage "/kuma-about" }}

            <div>
                <img src="{{ $about.Params.ko.image }}" alt="" />
            </div>

            <br />

            <div>About</div>

            <br />

            <div>
                <span data-lang="ko">
                    {{ $about.Params.ko.description | markdownify }}
                </span>

                <span data-lang="en">
                    {{ $about.Params.en.description | markdownify }}
                </span>
            </div>
        </div>
        <div class="exhibition-container" id="kuma-exhibition">
            <div>Exhibition</div>

            <div class="exhibition-list">
                <table class="exhibitions-table">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Title</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range (where site.RegularPages "Section"
                        "exhibitions") }}
                        <tr>
                            <td>
                                <span data-lang="ko"
                                    >{{ .Params.ko.type }}</span
                                >
                                <span data-lang="en"
                                    >{{ .Params.en.type }}</span
                                >
                            </td>

                            <td>
                                <details class="exhibition-item">
                                    <summary>
                                        <span data-lang="ko">
                                            {{ .Params.ko.title }}
                                        </span>
                                        <span data-lang="en">
                                            {{ .Params.en.title }}
                                        </span>
                                    </summary>

                                    <div class="content">
                                        <div data-lang="ko">
                                            {{ .Params.ko.description |
                                            markdownify }}
                                        </div>

                                        <div data-lang="en">
                                            {{ .Params.en.description |
                                            markdownify }}
                                        </div>

                                        {{ with .Params.ko.images }}
                                        <div class="gallery">
                                            {{ range . }}
                                            <img
                                                src="{{ . | relURL }}"
                                                loading="lazy"
                                                alt=""
                                            />
                                            {{ end }}
                                        </div>
                                        {{ end }}
                                    </div>
                                </details>
                            </td>

                            <td>
                                {{ time.Format "2006.01.02" .Params.ko.startDate
                                }} – {{ time.Format "01.02" .Params.ko.endDate
                                }}
                            </td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="resource-container" id="kuma-resource">
            <div>Resource</div>
        </div>
        <div class="news-container" id="kuma-news">
            <div>News</div>

            <table class="news-table">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Title</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range where site.RegularPages "Section" "news" }}
                    <tr>
                        <td>{{ .Params.type }}</td>
                        <td>
                            <a
                                href="{{ .Params.link }}"
                                onclick="
                                    let w = window.innerWidth * 0.5;
                                    let h = window.innerHeight * 0.8;
                                    window.open(
                                        this.href,
                                        'pdfwindow',
                                        `width=${w},height=${h}`,
                                    );
                                    return false;
                                "
                            >
                                {{ .Params.item }}
                            </a>
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
        <div class="contact-container">
            <div>↳ Contact</div>
            <div>
                <p>대한민국 경기도 의왕시 계원대학로 66</p>
                <p><a href="mailto:kuma@kaywon.ac.kr">kuma@kaywon.ac.kr</a></p>
                <br />
                <img class="full" src="/assets/kuma02.jpg" />
            </div>
        </div>
    </section>
</div>
<script>
    const setLanguage = (lang, button, container, type) => {
        container.dataset.language = lang;
        console.log(type);
        localStorage.setItem(`${type}-language`, lang);

        button.textContent = lang === "ko" ? "EN" : "KO";
    };

    document.addEventListener("DOMContentLoaded", () => {
        const kumaLangButton = document.querySelector(".lang-button.kuma");
        const leftContainer = document.querySelector(".left");

        kumaLangButton.addEventListener("click", () => {
            const now = leftContainer.dataset.language || "ko";
            const next = now === "ko" ? "en" : "ko";

            setLanguage(next, kumaLangButton, leftContainer, "kuma");
        });

        setLanguage(
            localStorage.getItem("kuma-language") || "ko",
            kumaLangButton,
            leftContainer,
            "kuma",
        );
    });
</script>
